In [2]:
import arcgis
from arcgis.gis import GIS

ago_gis = GIS() # Connect to ArcGIS Online as an anonymous user
search_subset = ago_gis.content.search("NYC_taxi_subset", item_type = "Feature Layer")
subset_item = search_subset[0]
subset_item

In [3]:
subset_map = ago_gis.map("New York, NY", zoomlevel=11)
subset_map

In [4]:
subset_map.add_layer(subset_item)

In [5]:
subset_feature_layer = subset_item.layers[0]

# query the attribute information. Limit to first 5 rows.
query_result = subset_feature_layer.query(where = 'OBJECTID < 5',
                                          out_fields = "*", 
                                          returnGeometry = False)

att_data_frame = query_result.df # get as a Pandas dataframe
att_data_frame

,Field1,OBJECTID,RateCodeID,VendorID,dropoff_latitude,dropoff_longitude,extra,fare_amount,improvement_surcharge,mta_tax,...,pickup_latitude,pickup_longitude,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance,SHAPE
0,3479320,1,1,2,40.782318,-73.980492,0.0,9.5,0.3,0.5,...,40.778149,-73.956291,N,2.1,0,12.4,1422268943000,1422268218000,1.76,{}
1,8473342,2,1,2,40.769756,-73.950600,0.5,13.5,0.3,0.5,...,40.729458,-73.983864,N,0.0,0,14.8,1422137577000,1422136892000,3.73,{}
2,10864374,3,1,2,40.753040,-73.985680,0.0,14.5,0.3,0.5,...,40.743740,-73.987617,N,0.0,0,15.3,1422719906000,1422718711000,2.84,{}
3,7350094,4,1,2,40.765743,-73.954994,0.0,11.5,0.3,0.5,...,40.757507,-73.981682,N,0.0,0,12.3,1420907558000,1420906601000,2.18,{}